// Fondo para la Home (Index)
.page-home {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
                url('../../assets/img/home-bg2.jpg') no-repeat center top / cover;
    background-attachment: scroll; // Cambiamos fixed por scroll para evitar el zoom excesivo
}

// Fondo para Reservas (Algo más relajante)
.page-reserva {
    background: linear-gradient(rgba(168, 218, 220, 0.8), rgba(168, 218, 220, 0.8)), 
                url('../../assets/img/1000294795.jpg') no-repeat center center fixed;
    background-size: cover;
}

// Fondo para Admin (Más limpio/profesional, tipo dashboard)
.page-admin {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                url('../../assets/img/admin-bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

// Fondo para Configuración (Luminoso y Profesional)
.page-config {
    // Usamos una ruta que suba un nivel desde la carpeta /css/ para entrar a /assets/
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), 
                url('../../assets/img/1000294789.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh; // Asegura que el fondo cubra toda la pantalla
}