// Paleta de colores (Solo los datos)
$color-principal: #5d4037; 
$color-acento: #3e2723;    
$color-texto: #212121;  
$color-fondo: #f1faee;       
$fuente-principal: 'Helvetica Neue', sans-serif;
$color-nav-bg: #f1efe7; 