.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: $color-nav-bg; // Tu crema #f1efe7
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    width: 100%;

    .logo-container {
        img {
            height: 50px;
            width: auto;
            transition: transform 0.3s ease;
            &:hover { transform: scale(1.05); }
        }
    }

    // Contenedor genérico para lo que vaya a la derecha (nav, botones, links)
    .header-actions {
        display: flex;
        align-items: center;
        gap: 20px;

        // Estilo para el botón de Iniciar Sesión (Home)
        .btn-login-nav {
            text-decoration: none;
            color: $color-texto;
            font-weight: bold;
            font-size: 0.9rem;
            &:hover { color: $color-principal; }
        }

        // Estilo para el botón Volver al Sitio (Admin)
        .btn-back {
            text-decoration: none;
            color: $color-principal;
            border: 1px solid $color-principal;
            padding: 8px 16px;
            border-radius: 6px;
            font-size: 0.85rem;
            font-weight: bold;
            transition: all 0.3s ease;
            &:hover {
                background-color: $color-principal;
                color: white;
            }
        }

        // Estilo para Acceso Staff
        .btn-staff {
            background-color: transparent;
            text-decoration: none;
            color: $color-principal;
            border: 1.5px solid $color-principal;
            padding: 8px 18px;
            border-radius: 50px; // Estilo "píldora"
            font-size: 0.9rem;
            font-weight: 500;
            transition: all 0.3s ease;

                &:hover {
                    background-color: $color-principal;
                    color: #fff;
                    box-shadow: 0 4px 12px rgba($color-principal, 0.2); }
        }
    }
}